body{
    background-color: rgb(180, 181, 181);
}
h1{
    text-align: center;
    text-decoration: underline;
    color :chartreuse;
    text-indent: 25px;
}
h2 {
    text-align: center;
    color :aqua;
    text-transform: initial;
}
h3 {
    text-align: center;
    color :brown;
    text-decoration: line-through;
}
p{
    text-align: justify;
    color:rgb(22, 22, 22);
    letter-spacing: normal;
}